html{
    font-family: Amaranth;
}
body{    
    border: 0px;
    margin: 0px;   
    padding: 0px;
    background-color: #D9F997;
    overflow:hidden;
    word-wrap:break-word;
}
p{
    padding: 0px;
    margin: 0px;
}
input,button {    
    font-family: Amaranth;
    text-align: center;
    font-size:13px;
    height: 30px;
    width: 100%;
    max-width: 160px;;
    border: 1px solid #D9F997;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 5px;
    word-break: break-word; 
    background-color: #F9FFEC;
    outline-color: #86DDDD;
}
input {

}
button{

}
.upgrades{
    font-size: 14px;
    color:red;
}
#namePrompt{
    position:fixed;
    top:124px;
    left:152px;
    border: red solid 2px;
    z-Index: 1500000;
}
#tutorial{
    z-index: 100000;
    position:fixed;
    left:2000px;
    width:100%;
    height:100%;
    max-height: 800px;
    max-width:1000px;
}
#hotkeyMap{
    display: none;
    z-index: 110000;
    position:fixed;
    left: 165px;
}
#tips{
    z-index: 110000;
    position: fixed;
    left: 165px;
    height:745px;
    top:13.3px;
    width:100%;
    max-width:1000px;
    background-color: #86DDDD;
    text-align: center;
}
#soundControls{
    border: 1px solid #D9F997;
    border-radius: 50px;
    background-color: #86DDDD;
    opacity:0.8;
    text-align: center;
    z-index: 120000;
    position: fixed;
    bottom: 120px;
    right: 110px;
}
#music{
    position:absolute;
    right: 30px;
    volume: 0;
}
#musicWrapper{
    position:fixed;
    right: 10px;
    width:100px;
    height:30px;
    overflow: hidden;
}
#antidrag{
    width: 2400px;
    height:2000px;  
    z-index: 50000;
    opacity: 1;
}
#board{
    margin-top: 15px;
    margin-bottom: 15px;
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    background-image: url("art/hexgrid.png");
    background-repeat: repeat;
    cursor: crosshair;
    /*display: inline-block;*/
    float:left;
    z-index:3;
    background-color: lightgreen;
    width: 860px;
    height:420px;
    overflow:hidden;
    word-wrap:break-word;
    position: relative;
}
#servInfo{
    font-size: 10px;
    /*margin-right: 80%;*/
    /*display: inline-block;*/
}
#servInfoWrap{
    padding-right: 60%;
    float:left;
    /*display: inline-block;*/
}
#hudArea{
    /*display: inline-block;*/
    position: relative;
    float:left;
    font-size: 20px;
    width: 166.5px; 
    height: 420px;
    background-color: #D9F997;
    z-index: 1000;
    overflow:hidden;    
}
#info{
    text-align: center;
    margin: 8%;
    background-color: #F9FFEC;
    border: 2px solid #BBEF52;
    padding: 2%;
    height : 1px;
}
#helpInfo{    
    cursor: crosshair;
    display:none;
    text-align: center;
    background-color: #F9FFEC;
    border: 2px solid #BBEF52;
    padding: 4px;
    height: 24px;
    overflow: hidden;
    font-size: 16px;
    margin: 13.3px;
    margin-bottom: 2px;
    color: grey;
    min-width: 90%;
    /*word-wrap: break-word*/
}
#servInfo{    
    margin-left: 13.3px;
}
#hud1{
    height: 88px;
    max-height: 88px;
}
#hud2{    
    min-height: 364px;
    font-size: 13px;
}
#resources{
    display: none;
    font-size:14px;
}
.hudVilStats{    
    margin-bottom: 10px;
}
#villagerName{
    padding-bottom: 11px;
}
#vilFocusZone{
    position:absolute;
    background-color: #F9FFEC;
    top: 606px;
    text-align: center;
    margin: 8%;
    border: 2px solid #BBEF52;
    padding: 2%;
    height: 130px;
    overflow: hidden;
    font-size: 10px;
    color: black;
    min-width: 77.5%;    
    cursor: crosshair;
}
.vilFocus{
    background-position: center;
    float:left;
    width:42px;
    height: 30px;
    overflow: hidden;
}
#focus1{
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    position: relative;
    zIndex: 12000;
    height: 5px;
    width: 35px;
    background-color: #FF0000;    
}
#focus2{
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    position: relative;
    zIndex: 12000;
    background-color: #369C9C;
    height: 5px;
    width: 32px;
}
.focus3{
    position: absolute;
    border: 1px black solid;
    height: 2px;
    width: 2px;
    z-index: 12000;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
#focus4{
    position: relative;
    background-color: #369C9C;
    height: 4px;
    width: 4px;
}

.rotator{
    -webkit-animation: mymove 2s infinite; /* Chrome, Safari, Opera */
    animation: mymove 2s infinite;
}
@-webkit-keyframes mymove {
    50% {-webkit-transform: rotate(350deg);}
}
@keyframes mymove {
    50% {transform: rotate(350deg);}
}
.fog{
    background: red;
    -moz-border-radius: 26px;
    -webkit-border-radius:26px;
    border-radius: 26px;
    border: 4px solid #F9FFEC;
    width: 51px;
    height: 51px;
    position:absolute;
    /*    -webkit-animation: mymove 20s infinite;  Chrome, Safari, Opera 
        animation: mymove 20s infinite;*/
    z-index: 15000;
    background-color: #C0C0C0;
}
.chatter {  
    color: black;
    font-size: 12px;
}
#minimap{
    cursor: crosshair;
    position:absolute;
    top: 420px;
    text-align: center;
    margin: 8%;
    background-color: lightgreen;
    border: 2px solid #BBEF52;
    height : 100px;
    overflow: hidden;
    font-size: 16px;
    color: grey;
    width: 136px;    
}
.miniscreens{
    position: absolute;
    width:30px;
    height:22px;
    border: 2px solid black;    
}
.start-colors {
    float: left;
    border: solid black;
    margin: 2px;
    width: 16px;
    height: 16px;
}

#colors1{
    margin-top:5px;
    margin-left:0px;
    font-size: 13px;
    width:140px;
    height:100px;
}
#colors2{
    margin-left:0px;
    font-size: 13px;
    width:140px;
}

.flag1{
    background-color: red;
    height: 4px;
    border-bottom: 1px;
    border-bottom-color: white;
    width: 10px;
}

.flag2{
    top: 5px;
    background-color: yellow;
    height: 4px;
    width: 10px;
}
#compass{
    display:none;
}
.compass-buttons{
    background-color: #86DDDD;
    position: fixed;
    z-index: 20000;
    opacity: 0.5;
}
#n{
    height:25px;
    left:191.5px;
}
#e{
    width: 25px;
}
#s{
    height:25px;  
    left:191.5px;
}
#w{
    width: 25px;
    left:166.5px;

}